<ng-container *ngIf="items.length != 0">
     <h4 style="text-align:center;">Cart</h4>
        <div class="row-justify-content-center">
            <table class="table mx-auto w-auto">
                <thead>
                    <tr>
                        <th style="width: 50%" scope="col">Name</th>
                        <th style="width: 50%" scope="col">Price</th>
                        <th style="width: 50%" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of items; let i = index">
                        <tr>
                            <td style="width: 50%; text-align: center;" scope="row">{{item.name}}</td>
                            <td style="width: 50%; text-align: center;" scope="row">{{item.price}}</td>
                            <td style="width: 50%" scope="row"><button mat-button (click)="delete(item)">Delete</button></td>
                        </tr>
                    </ng-container>
                    <tr>
                        <td colspan="2">Total</td>
                        <td>{{GrandTotal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</ng-container>

<ng-container *ngIf="items.length == 0">
    <div class="container-fluid">
        <p style="text-align:center">My Cart</p>
        <div class="container-fluid">
            <mat-card class="card">
                <p>Empty</p>
                <button mat-raised-button routerLink="/menu">Shopping Now</button>
            </mat-card>
        </div>
    </div>
</ng-container>

